<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="glass-card">
        <h2>🚀 AI Career Path Predictor</h2>

        <form method="POST">
            <textarea name="skills" placeholder="Enter your interests like coding, design, hacking..."></textarea>
            <button class="btn"> Predict career</button>
        </form>
    </div>
</div>

</body>
</html>